<%- include ('partials/head.html')%>
<body>

    <%- include ('partials/navigation.html')%>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img class="animate__animated animate__bounceIn" src="/img/pews-logo.png" alt="Champions League">
            </div>
        </header>
    </div>

    <div class="container-fluid">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribed Youtuber</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, officia nemo soluta minus quia necessitatibus 
                voluptas fugiat repellat harum animi nam fuga voluptate odit quam suscipit alias ducimus similique? Ipsam.</p>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.html')%>
    
</body>
</html>